<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tech4lyf.cossaloon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name=".ChangeOfStyle"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.EmployeeHomeActivity"
            android:configChanges="orientation|uiMode|colorMode|keyboard|keyboardHidden|screenLayout|screenSize|touchscreen"
            android:label="EMPLOYEE DASHBOARD"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AdminHomeActivity"
            android:configChanges="orientation|uiMode|colorMode|keyboard|keyboardHidden|screenLayout|screenSize|touchscreen"
            android:label="ADMINISTRATOR DASHBOARD"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginActivity"
            android:configChanges="orientation|uiMode|colorMode|keyboard|keyboardHidden|screenLayout|screenSize|touchscreen"
            android:screenOrientation="portrait" />
    </application>

</manifest>